fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
yt-dlp
youtube-transcript-api
openai-whisper
ffmpeg-python
langchain
langchain-openai
langchain-community
chromadb
langchain-huggingface
langchain-ollama
langchain-google-genai
sentence-transformers
